<h1>Benten</h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <p>
        <%= form_for(@comment) do |f| %>
          <%= f.text_field :body %>
        
          <%= f.submit %>
        <% end %>
	<input type="text" placeholder="Type message…">
      </p>
    </div>
    <div class="span8">
      <h2>VideoArea</h2>
    </div>
  </div>
</div>
