<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div id="comment_area">
        <ul id="comments">
        </ul>
      </div>
    </div>
    <div class="span8 offset5">
      <%= form_for(@comment) do |f| %>
        <%= f.text_field :body, class: "span9", placeholder: "Type message…" %>
        <%= button_tag id:'send_comment', class: "btn btn-primary" do  %>
          <%= t 'Send' %>
        <% end %>
      <% end %>
      <div id="video_area">
      </div>
    </div>
  </div>
</div>
