<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <p>
	<input type="text" placeholder="Type message…">
      </p>
      <p>
	<textarea name="chat messaged" id="" rows="20" cols="">
	</textarea>
      </p>
    </div>
    <div class="span8">
      <h2>VideoArea</h2>
    </div>
  </div>
</div>
