// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#video_area{
  width: 640px;
  height: 480px;
  border: 1px dotted #000000;
}
#comment_area{
  border: 1px dotted #000000;
  li{
    list-style-type: none;
  }
}
